# Entorno virtual
env/
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.so

# Archivos de base de datos
*.sqlite3

# Archivos de configuración personal
*.env
*.local
*.log
*.bak

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Credenciales sensibles
client_secrets.json
mycreds.json
dump.json
google_service.json

