{% extends "Layout2.html" %}
{% load static %}
{% block title %} Administrar cliente {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/AdServicio.css' %}">
<link rel="stylesheet" href="{% static 'css/Style2.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-form">
        <div class="information">
            <div class="info-child">
                <h2>Agregar Servicio</h2>
                <p>En esta sección, Puedes agregar la información de los servicios.</p>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-child">
                <h2>Datos de Servicios</h2>
                <form action="" method="POST" class="form">
                    {% csrf_token %}
                    <label>
                        <i class='bx bx-rename'></i>
                        <input type="text" placeholder="Nombre" value="{{ servicio.nombre }}"  name="nombre" required>
                        <!-- REQUERIED -->
                    </label>
                    <label>
                        <i class='bx bx-archive'></i>
                        <input type="text" placeholder="Tipo" value="{{ servicio.tipo }}" name="tipo">
                    </label>
                    <label>
                        <i class='bx bxs-message-add'></i>
                        <input type="text" placeholder="Descripcion"value="{{ servicio.descripcion }}"  name="descripcion" required><!-- REQUERIED -->
                    </label>
                    <label>
                        <i class='bx bxs-dollar-circle'></i>
                        <input type="text" placeholder="Precio" value="{{ servicio.precio }}" name="precio">
                    </label>
                    <input type="submit" value="Guardar" id="guardar">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}